/* Estilizando o REST */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilizando o GLOBAL BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}